In [24]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\katiy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\katiy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\katiy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\katiy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\katiy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\katiy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\katiy\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [25]:
import pandas as pd
# Loading HackathonsExcel file
file_path = 'List of Hackathon Names.xlsx'

In [26]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\katiy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\katiy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\katiy\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [27]:
df = pd.read_excel(file_path)

In [28]:
df.head()

             Name Start Date   End Date
0    Hack at Home 2020-05-02 2020-05-03
1     Hacklarious 2020-05-09 2020-05-10
2  Hack the Chain 2020-05-16 2020-05-17
3   BackyardHacks 2020-05-22 2020-05-24
4     RookieHacks 2020-05-29 2020-05-31

In [29]:
#count all values
df.count()

Name          103
Start Date    103
End Date      103
dtype: int64

In [30]:
# Sort the list alphabetically by Name
sorted_hackathons_name = df.sort_values(by='Name')

In [31]:
sorted_hackathons_name.head()

               Name Start Date   End Date
84         AI Hacks 2019-04-18 2019-04-21
61    Agent: Hacker 2022-06-25 2022-06-28
77  Agent: Hacker 2 2019-09-08 2019-09-11
20  Aye aye Hackers 2020-09-18 2020-09-20
63  Back to Hacking 2022-07-09 2022-07-12

In [32]:
sorted_hackathons_name.tail()

                              Name Start Date   End Date
32              Who done It Hacks? 2020-12-11 2020-12-13
30  Who wants to be a hackionaire? 2020-11-27 2020-11-29
33              Winter Hacklympics 2020-12-18 2020-12-20
15                    YeeHaw Hacks 2020-08-14 2020-08-16
91                  YeeHaw Hacks 2 2019-04-25 2019-04-28

In [33]:

# Sort the list by Start Date
sorted_hackathons_date = df.sort_values(by='Start Date')

In [34]:
sorted_hackathons_date.head()

                           Name Start Date   End Date
83                     EduHacks 2019-04-17 2019-04-20
84                     AI Hacks 2019-04-18 2019-04-21
85           Hacky Winterland 2 2019-04-19 2019-04-22
86  See You Later, Hackulator 2 2019-04-20 2019-04-23
87        Impractical Hackers 2 2019-04-21 2019-04-24

In [35]:
sorted_hackathons_date.tail()

                Name Start Date   End Date
98         FinHack 2 2023-09-29 2023-10-02
99     Hack-on-chain 2023-09-30 2023-10-03
100   Support-a-thon 2023-10-01 2023-10-04
101    Design-a-thon 2023-10-02 2023-10-05
102  Hacky New Year! 2023-10-03 2023-10-06

In [36]:
sorted_hackathons_name.head(), sorted_hackathons_date.head()

(               Name Start Date   End Date
 84         AI Hacks 2019-04-18 2019-04-21
 61    Agent: Hacker 2022-06-25 2022-06-28
 77  Agent: Hacker 2 2019-09-08 2019-09-11
 20  Aye aye Hackers 2020-09-18 2020-09-20
 63  Back to Hacking 2022-07-09 2022-07-12,
                            Name Start Date   End Date
 83                     EduHacks 2019-04-17 2019-04-20
 84                     AI Hacks 2019-04-18 2019-04-21
 85           Hacky Winterland 2 2019-04-19 2019-04-22
 86  See You Later, Hackulator 2 2019-04-20 2019-04-23
 87        Impractical Hackers 2 2019-04-21 2019-04-24)